<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.amanshuraikwar.howmuch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel_1}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HowMuch"
        android:name=".MyApp"
        tools:replace="android:label, android:supportsRtl">

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="${applicationLabel_1}"
            android:theme="@style/HowMuch.Home">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.intro.IntroActivity"
            android:theme="@style/HowMuch.Translucent.Intro"/>

        <activity
            android:name=".ui.addtransaction.AddTransactionActivity"
            android:theme="@style/HowMuch.Translucent.AddTransaction"/>

        <activity
            android:name=".ui.expenseday.ExpenseDayActivity"
            android:theme="@style/HowMuch.Translucent.ExpenseDay"/>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/HowMuch.Translucent.Settings"/>

        <activity
            android:name=".ui.edittransaction.EditTransactionActivity"
            android:theme="@style/HowMuch.Translucent.EditTransaction"/>
    </application>

</manifest>