<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.amanshuraikwar.howmuch">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:supportsRtl="true"
        android:theme="@style/HowMuch"
        android:fullBackupContent="@xml/backup_descriptor"
        android:resizeableActivity="false"
        android:supportsPictureInPicture="false"
        tools:replace="android:label">

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.expense.ExpenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.wallet.WalletActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.addexpense.AddExpenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.editcategories.EditCategoriesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.editwallets.EditWalletsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.activity.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/HowMuch.Search"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>